@import url(./theme/fonts.css);
@import url(./theme/root.css);

/* ========== Não Alterar ============== */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
/* ====================================== */

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
div {
    text-align: center;
}

h1 {
    font-family: var(--font-family-primary);
}